.todos {
    width: 500px;
    font-size: 30px;
}

.add-todo {
    position: relative;
}

.add-todo .new-todo {
    display: block;
    height: 36px;
    width: 350px;
    line-height: 36px;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    font-smoothing: antialiased;
    border-radius: 4px;
    border: 1px solid #777777;
}

.add-todo .add-btn {
    height: 40px;
    width: 120px;
    line-height: 40px;
    background: #08bac6;
    border-radius: 4px;
    border: none;
    position: absolute;
    top: 0;
    right: 0;
    color: #ffffff;
    font-weight: bold;
}

.todo-list {
    list-style: none;
    margin: 0;
    padding: 0;

    font-size: 30px;
}


.todo-item {
    position: relative;
    height: 40px;
    display: flex;
    align-items: center;
   border: 1px solid #cc9a9a;
    border-radius: 4px;
    margin-top: 10px;
    padding: 5px 10px;
}

.todo-item .toggle {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
}

.todo-item .toggle:after {
    margin: 10px 0 0 0;
    content: '⭕'
}

.todo-item .toggle:checked:after {
    content: '✔️'
}

.todo-item .text {
    margin-left: 50px;
    flex: 1;
    display: flex;
    align-items: center;
}

.todo-item .remove {
    border: 0;
    background: 0;
    display: none;
    width: 40px;
    font-size: 30px;
    color: #cc9a9a;
    transition: color 0.2s ease-out;
    -webkit-appearance: none;
    appearance: none;
}

.todo-item:hover .remove {
    display: block
}

.todo-item .remove:hover {
    color: #af5b5e;
}
